.container {
    list-style: none;
    display: flex;
    margin: 0;
}

.container li {
    margin: 0 1rem;
}

.container li button {
    font-size: 1.2rem;
    border-style: none;
    background: #ffffff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.5s;
}

.container li button:hover {
    color: white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.20);
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.20);
    -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.20);
    transition: 0.5s;
}

.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.facebook:hover {
    background: #4267B2;
}

.youtube:hover {
    background: #bf2020;
}